.title {
  display: inline;
  height: 50px;
  padding: 10px;
}

.navbar {
  display: inline;
  padding: 10px;
}

.main {
  display: inline;
}


h1 {
  color: #7844eb;
  background-color: #9290f8;
  font-family: 'Sacramento', cursive;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  white-space: nowrap;
  padding: inherit;
  flex: .25;
}

#title-image {
  float: left;
  width: 50px;
  height: 50px;
}
