.row {
  height: 50px;
  width: 100%;
  display: block;
  background-color: yellow;
}

.headerstrip {
  height: 5px;
  width: 100%;
  background-color: gold;
}

.headerbutton {
  position: ;
  background-color: black;
  color: gold;
  padding-left:

}

#headertext {
  font-size: 42px;
  position: absolute;
  padding-left: 10px;
}
